@using Sitecore.Mvc
<div class="row">
    <div class="col-md-4">
        @Html.Sitecore().Placeholder("CTA1")
    </div>
    <div class="col-md-4">
        @Html.Sitecore().Placeholder("CTA2")
    </div>
    <div class="col-md-4">
        @Html.Sitecore().Placeholder("CTA3")
    </div>
</div>