@using Sitecore.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<startbootstrap.demo.com.Models.sitecore.templates.Content_Type.Demo02.IColumnImage>

<div class="col-lg-4 col-sm-6">
    @using (BeginRenderLink(x => x.URL, new { @class = "portfolio-box" }, isEditable: true))
    {
        @Editable(x => x.Image)

        string portfolio_box = Sitecore.Context.PageMode.IsPageEditor ? "" : "portfolio-box-caption";

        <div class=@portfolio_box>
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    @Editable(x => x.Category)
                </div>
                <div class="project-name">
                    @Editable(x => x.Name)
                </div>
            </div>
        </div>
    }
</div>