@using Sitecore.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<startbootstrap.demo.com.Models.sitecore.templates.Content_Type.Demo02.IContentHeader>

<div class="header-content">
    <div class="header-content-inner">
        <h1 style="font-size: 65px;">@Editable(x => x.Title)</h1>
        <hr>
        <p>@Editable(x => x.Introduction)</p>
        @Editable(x => x.URL, new { @class= "btn btn-primary btn-xl page-scroll" })
    </div>
</div>