@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model startbootstrap.demo.com.Models.sitecore.templates.Content_Type.Demo02.Column_Lg12

<div class="col-lg-12 text-center">
    <h2 class="section-heading">@Html.Glass().Editable(Model, x => x.Title)</h2>
    <hr class="primary">
</div>