@using Sitecore.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<startbootstrap.demo.com.Models.sitecore.templates.Content_Type.Demo02.IColumn_Lg8_Contact>

<div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">@Editable(x => x.Title)</h2>
    <hr class="primary">
    <p>@Editable(x => x.Introduction)</p>
</div>