@using Sitecore.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<startbootstrap.demo.com.Models.sitecore.templates.Content_Type.Demo02.IColumn_Lg4>

@{ var parameters = GetRenderingParameters<startbootstrap.demo.com.Models.sitecore.templates.Base.Parameters.ICSSClassParam>(); }

<div class="col-lg-4 @parameters.Class_1 text-center">
    <i class="fa @parameters.Class_2 fa-3x sr-contact"></i>
    <p>@Editable(x => x.Introduction)</p>
</div>